<section class="form-section outer-section">
    <div class="container">
        <div class="row pt-4 col-md-12">
            <div class="col-md-6">
                <div *ngIf="!settings?.enable_i_delivered_theme" class="form_txt">
                    <h1>Become a <span>Driver</span></h1>
                    <h5>Be your own Boss and make serious Cash</h5>
                    <p>{{siteName}} APP is a mobile app that provide delivery services to groceries stores and
                        restaurants in the US.</p>
                    <p>By becoming driver, you will help us to make our services swift, we are always looking forward to
                        bringing more people on board to deliver the taste of Central America to people’s home.</p>

                    <ul>
                        <span>The minimum requirements of becoming a driver at {{siteName}} are:-</span>
                        <li>Be at least 18 years of age</li>
                        <li>Holder of a valid driver’s license</li>
                        <li>Permit and eligibility to work in the United States</li>
                        <li>Access to a reliable means of delivery</li>
                        <li>A smartphone that can support our application</li>
                    </ul>
                </div>

                            <!--------------------- For ideliverd content -------------------------->

                <div *ngIf="settings?.enable_i_delivered_theme" class="form_txt">
                    <h1>Drive with<span> {{siteName}}</span></h1>
                    <h5>Be your own Boss and make serious Cash.</h5>
                    <p>{{siteName}} application provides delivery as a service from merchant across the world.</p>
                    <p>By becoming iDeliverd driver,
                        you will help us reach more users swiftly; we are always looking forward to bringing more
                        drivers on board for deliver as a service from our merchant’s partners to users.</p>

                    <ul >
                        <span><b>The minimum requirements of becoming a driver at {{siteName}} are:-</b></span>
                        <li>Be at least 18 years of age.</li>
                        <li>Holder of a valid driver’s license.</li>
                        <li>Permit and eligibility to work within the jurisdiction.</li>
                        <li>Access to a reliable means of delivery vehicle, scooter or electric bike.</li>
                        <li>A smartphone that can support our application (iOS and/or Android).</li>
                        <li>Clean criminal background certificate, from law enforcement agency.</li>
                    </ul>

                    <ul style="list-style: none;">
                        <h2>Frequently Asked Questions</h2>
                        <li>
                            <b>Q: Can l drive part-time? </b>
                            <p>A: Yes we provide you with an opportunity to work full-time or part-time.</p>
                        </li>
                        <li>
                            <b>Q: When do l get my payout?</b>
                            <p>A: iDeliverd pay you weekly to your nominated bank account, or instantly through iDeliverd Money.</p>
                        </li>
                        <li>
                            <b>Q: Does iDeliverd take commission?</b>
                            <p>A: Yes you will pay 10% for every trip you provide on iDeliverd platform as a driver.
                            </p>
                        </li>
                        <li>
                            <b>Q:  How long do l wait before my approval?</b>
                            <p>A: You should expect 1-2 business days before approval and able to accept order requests.</p>
                        </li>
                        <li>
                            <b>Q: What phone/device do l need to drive? </b>
                            <p>A: We recommend any device with latest version of Android or iOS.</p>
                        </li>
                        <li>
                            <b>Q: Do l need internet or data? </b>
                            <p>A: Yes you need stable internet connectivity for the application and GPS. This is available from your mobile provider
                                or contacts us for IoT data sim.
                                </p>
                        </li>
                        <li>
                            <b>Q: Can l drive in other countries?</b>
                            <p>A: Yes you can provided you have all necessary documentations permitting you to operate within the jurisdiction.
                            </p>
                        </li>
                        <li>
                            <b>Q: Can someone else use my profile to drive? </b>
                            <p>A: Unfortunately our policies do not allow third party to use your profile, it may lead to your profile being blacklisted
                                and iDeliverd may report such activity to the law enforcement agency.</p>
                        </li>
                      
                    </ul>
                </div>

                                                            <!-------------- End For ideliverd content ----------------->
            </div>
            <div class="col-md-6 img-right">
                <img src="/assets/images/car1.png">
                <div class="contact">
                    <div class="form-area">
                        <div class="contact-h">{{'DRIVER FORM'|translate}}</div>
                        <p>{{'Fill the form below to become a driver'|translate}}</p>
                        <form [formGroup]="agentForm" (ngSubmit)="onSubmit()" autocomplete="off">
                            <div class="row">
                                <div class="col-6">
                                    <div class="group form-group">
                                        <input type="text" class="form-control" id="firstName"
                                            formControlName="firstName" placeholder="{{'FIRST NAME'|translate}}">
                                        <div *ngIf="submitted && form.firstName.errors"
                                            class="alert alert-danger error">
                                            <div *ngIf="form.firstName.errors">
                                                {{'Please enter first name.' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="group form-group">
                                        <input type="text" class="form-control" id="lastName" formControlName="lastName"
                                            placeholder="{{'LAST NAME'|translate}}">
                                        <div *ngIf="submitted && form.lastName.errors" class="alert alert-danger error">
                                            <div *ngIf="form.lastName.errors">
                                                {{'Please enter last name.' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="group form-group">
                                <input type="email" class="form-control" formControlName="email"
                                    placeholder="{{'Email address'|translate}}">
                                <div *ngIf="submitted && form.email.errors" class="alert alert-danger error">
                                    <div *ngIf="form.email.errors.required">{{'Please enter email.'|translate}}</div>
                                    <div *ngIf="form.email.errors.email">{{'Please enter a valid email.'|translate}}
                                    </div>
                                </div>
                            </div>

                            <div class="group form-group mobile_number mb-5"
                                [ngClass]="settings?.disable_phone_flag_selection == 1 ? 'disable_phn_flag' : ''">
                                <div class="phone_num">
                                    <ngx-intl-tel-input [selectedCountryISO]="countryISO"
                                        [preferredCountries]="preferredCountries" (focus)="submitted= false"
                                        [searchCountryFlag]="true" placeholder="Phone Number"
                                        [enableAutoCountrySelect]="false" [enablePlaceholder]="true"
                                        [separateDialCode]="true" [phoneValidation]="true"
                                        formControlName="phone_number">
                                    </ngx-intl-tel-input>
                                    <div *ngIf="submitted && form.phone_number?.errors"
                                        class="alert alert-danger error">
                                        <div *ngIf="form.phone_number?.errors.required">
                                            {{'Please enter Phone Number.' | translate}}</div>
                                        <div *ngIf="!form.phone_number?.errors.required && form.phone_number?.invalid">
                                            {{'Please Enter a Valid Phone Number.' | translate}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group group">
                                <input type="text" placeholder="Address" class="form-control" id="address"
                                    formControlName="address" appGoogleplace (onSelect)="addressSearch($event)">
                                <span class="bar"></span>
                                <div *ngIf="submitted && form.address.errors" class="alert alert-danger error">
                                    <div *ngIf="form.address.errors">
                                        {{'Please enter address.' | translate}}</div>
                                </div>
                            </div>


                            <div class="form-group group">
                                <input type="text" class="form-control" id="state" formControlName="state"
                                    placeholder="{{'State' | translate}}">
                                <span class="bar"></span>
                            </div>

                            <div class="form-group group">
                                <input type="text" class="form-control" id="vehicle_plate_number"
                                    formControlName="vehicle_plate_number"
                                    placeholder="{{'Vehicle Number' | translate}}">
                                <span class="bar"></span>
                            </div>
                            <div class="form-group group" *ngIf="settings?.enable_agent_vehicle_maker">
                                <input type="text" class="form-control" id="vehicle_make" formControlName="vehicle_make"
                                    placeholder="{{'Vehicle Make' | translate}}">
                                <span class="bar"></span>
                                <label>{{'Vehicle Make'|translate}}</label>
                            </div>
                            <div class="form-group group" *ngIf="settings?.enable_agent_vehicle_model">
                                <input type="text" class="form-control" id="vehicle_model"
                                    formControlName="vehicle_model" placeholder="{{'Vehicle Model' | translate}}">
                                <span class="bar"></span>
                                <label>{{'Vehicle Model'|translate}}</label>
                            </div>
                            <div class="form-group group" *ngIf="settings?.enable_agent_vehicle_year">
                                <input type="text" class="form-control" id="vehicle_year" formControlName="vehicle_year"
                                    placeholder="{{'Vehicle Year' | translate}}">
                                <span class="bar"></span>
                                <label>{{'Vehicle Year'|translate}}</label>
                            </div>
                            <div class="form-group group" *ngIf="settings?.enable_agent_vehicle_vin">
                                <input type="text" class="form-control" id="vehicle_vin" formControlName="vehicle_vin"
                                    placeholder="{{'Vehicle Vin' | translate}}">
                                <span class="bar"></span>
                                <label>{{'Vehicle Vin'|translate}}</label>
                            </div>


                            <div class="form-group group">
                                <input type="text" class="form-control" id="driver_license_number"
                                    formControlName="driver_license_number"
                                    placeholder="{{'Driver License number'|translate}}">
                            </div>

                            <div class="form-group group">
                                <input type="password" class="form-control" formControlName="password"
                                    id="user_password" autocomplete="user_password"
                                    placeholder="{{'PASSWORD'|translate}}">
                                <div *ngIf="submitted && form.password?.errors" class="alert alert-danger error">
                                    <div *ngIf="submitted && form.password.errors.required" class="log-error" translate>
                                        {{'Please enter password'|translate}}
                                    </div>
                                    <div *ngIf="form.password?.errors?.minlength || form.password?.errors?.maxlength">
                                        {{'Password length should be 6-20 digits.' | translate}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="become_a_driver_info text-center">
                                    <div class="profile_img_upload">
                                        <img style="height: 170px;"
                                            [src]="image ? image : 'assets/images/placeholder-user.png'"
                                            onError="src = './assets/images/placeholder-user.png';">
                                        <p (click)="fileInput.click()" class="cursor">{{'Add Profile
                                            Picture'|translate}}</p>
                                        <input type="file" style="display: none;" accept="image/*"
                                            (change)="onImageSelect($event)" #fileInput>
                                    </div>
                                </div>

                                <div class="upload_insurance_documents col-md-12 text-center mb-5 mt-5">
                                    <p (click)="fileDocument.click()" class="cursor">{{'Upload Documents'|translate}}
                                    </p>
                                    <input type="file" style="display: none;" (change)="onDocumentSelect($event)"
                                        #fileDocument>
                                </div>
                                <div class="Uploaded_Documnets" *ngIf="documents.length">
                                    <div class="col-md-12">
                                        <p>------ {{'Upload Documents'|translate}} ------</p>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-0 text-left row">
                                            <div class="col-md-4 mt-2"
                                                *ngFor="let document of documents; let i = index;trackBy:trackBydocumentsFn">
                                                <img class="doc_img" src="{{document.fileToShow}}">
                                            </div>
                                        </div>
                                        <p class="cursor text-center mt-4" (click)="removeDocument()">
                                            <b>Remove All</b>
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <p class="font-12">
                                {{'By clicking submit button' | translate }}, {{'you agree to our' | translate }}
                                <a [style.color]="style.primaryColor" [routerLink]="['/terms-and-conditions']">
                                    {{'terms_and_conditions' | localization | translate}}
                                </a> and
                                <a [style.color]="style.primaryColor" [routerLink]="['/privacy-policy']">
                                    {{'privacy_policy' | localization | translate}}
                                </a>,

                                {{'and you agree that' | translate }} {{siteName}}
                                <span translate="v_key"></span>
                            </p>
                            <button type="submit" id="submit" name="submit" class="btn btn-primary col-md-12">
                                {{'SUBMIT' | translate}}</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="login_process">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div  *ngIf="!settings?.enable_i_delivered_theme" class="main_headings">
                    <h1>Why ride <span>with Us</span></h1>
                    <p>Won’t you love to be part of an impactful society?</p>
                    <p>As a rider, you will be supporting businesses as they work to spread the joy and
                        love of Central America to families living far from home and those that want to experience the
                        Central America
                        culture through food.</p>
                </div>
                <div  *ngIf="settings?.enable_i_delivered_theme" class="main_headings">
                    <h1>Why ride <span>with Us</span></h1>
                   <p>iDeliverd provide earning opportunity for drivers to work part-time or full-time, flexibility to drive at your own
                        time/hours, and Instant payout for your earnings, “this means, you can get paid immediately you make a delivery
                        and don’t have to wait for weekly or fortnight payouts” (*iDeliverd Money card is however required to access
                        payouts.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="partnershipSingleBox">
                    <div class="partnershipLogoBox p-4 shadowEffect">
                        <img src="/assets/images/sign-up.png">
                    </div>
                    <div class="partnershipLogoText">
                        <h3> Sign Up </h3>
                        <p>Create an account, Submit your application,
                            Through the App or the Website
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="partnershipSingleBox">
                    <div class="partnershipLogoBox p-4 shadowEffect">
                        <img src="/assets/images/hrs.png">
                    </div>
                    <div class="partnershipLogoText">
                        <h3> Set your hours </h3>
                        <p>Create your own flexible schedule
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="partnershipSingleBox">
                    <div class="partnershipLogoBox p-4 shadowEffect">
                        <img src="/assets/images/Deliver.png">
                    </div>
                    <div class="partnershipLogoText">
                        <h3> Deliver </h3>
                        <p>Sign in, accept order and deliver
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="partnershipSingleBox">
                    <div class="partnershipLogoBox p-4 shadowEffect">
                        <img src="/assets/images/get.png">
                    </div>
                    <div class="partnershipLogoText">
                        <h3>Get Paid </h3>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>