<div class="p-2">
    <div class="col-12 mt-3  d-flex justify-content-center" style="padding-left: 31%;">
        <app-logo [width]="'60%'" [height]="'auto'" [logoColor]="style.primaryColor" [logoPadding]="'10'">
        </app-logo>
    </div>
    <div class="col d-flex justify-content-center ">
        <ul style="font-size: 12px; font-weight: bold; margin-top: 4%;">
            <li class="help"><a [style.color]="style.footerTextColor" href="tel:{{contact?.phoneNumber}}"
                    style="padding-left: 15px;">{{contact?.phoneNumber}}</a>
            </li>
            <li [style.color]="style.footerTextColor" class="help" (click)="mailTo()"
                style="cursor: pointer; padding-right: 5px;">
                {{contact?.email}}</li>

        </ul>
    </div>
    <div>
        <a href="javascript:void(0)" class="dialog-close-button" (click)="close()">&times;</a>
    </div>
    <form [formGroup]="emailForm" (ngSubmit)="onSend()">
        <div class="form-group">
            <label [for]="'email'">{{'Email Address' | translate}}</label>
            <input [type]="'email'" class="form-control" formControlName="email" [id]="'email'" aria-describedby="email"
                placeholder="{{'Enter email'| translate}}" (focus)="isSubmitted = false"
                [ngClass]="{ 'is-invalid': isSubmitted && controls.email.errors }">
            <div *ngIf="isSubmitted && controls.email.errors" class="log-error">
                <div *ngIf="controls.email.errors.required">{{'Please enter email.' | translate}}</div>
                <div *ngIf="isSubmitted && controls.email.errors.pattern">{{'Please enter a valid email.' | translate}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label [for]="'subject'">{{'Subject' | translate}}</label>
            <input [type]="'text'" class="form-control" formControlName="subject" [id]="'subject'"
                placeholder="{{'Enter Subject' | translate}}" (focus)="isSubmitted = false"
                [ngClass]="{ 'is-invalid': isSubmitted && controls.subject.errors }">
            <div *ngIf="isSubmitted && controls.subject.errors" class="log-error">
                <div *ngIf="controls.subject.errors.required">{{'Please enter subject.'| translate}}</div>
                <div *ngIf="isSubmitted && controls.subject.errors?.maxlength">
                    {{'Subject can be max 200 characters long.' | translate}}
                </div>
                <div *ngIf="isSubmitted && controls.subject.errors?.pattern">
                    {{'Subject can be in letters only'| translate}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label [for]="'body'">{{'Message' | translate}}</label>
            <textarea type="text" class="form-control mb-0" formControlName="body" [id]="'body'"
                (focus)="isSubmitted = false" [ngClass]="{ 'is-invalid': isSubmitted && controls.body.errors }"
                placeholder="{{'Enter Message ...'| translate}}" rows="6"></textarea>
            <div *ngIf="isSubmitted && controls.body.errors" class="log-error">
                <div *ngIf="controls.body.errors.required">{{'Please enter message.' |translate }}</div>
                <div *ngIf="isSubmitted && controls.body.errors.pattern">{{'message can be max 1000 characters long.' |translate}}
                </div>
            </div>
        </div>
        <button type="submit" class="btn">{{'Send' | translate}}</button>
    </form>
</div>