.price_details {
    .vat {
        padding: 0px 20px;
        text-align: right;
    }
}
.promo-modal-width {
    width: 320px !important;
}
.modal_close_btn {
    padding: 1px 8px !important;
    margin-top: 0px !important;
}

.pos-fix {
    top:2px!important;
    right: 2px !important;
}

  