<!--===================term & Conditions===============-->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 t-center">
                <h1>For Outside Locations</h1>
                <p><span>(Beach, Park etc)</span></p>
                <ul>
                    <li>Zoom in on your blue location dot</li>
                    <li>Let the dot ‘settle’ in position</li>
                    <li>Line up the pink pin with the centre of dot and click Done to lock in your
                        <span>what3words</span> location delivery address</li>
                </ul>
                <h1>For Inside Locations</h1>
                <p><span>(Home, Office etc)</span></p>
                <ul>
                    <li>The blue dot will show your building location</li>
                    <li>Line up the pink pin to the doorway area you require delivery to and click <strong>Done</strong>
                        to lock in your <span>what3words</span> location delivery address</li>
                    <p>Accuracy is to within a few metres however your delivery person will call you on arrival to your
                        location</p>
                </ul>
            </div>
        </div>
    </div>
</section>