<div class="price_details"
    [ngStyle]="{'background-color': style.cardBackgroundColor, 'border-color': style.secondaryColor }">

    <div class="referral-cart">
        <a [style.color]="style?.primaryColor" (click)="applyReferral()">{{(loyalty_applied ? 'Remove' : 'Apply') | translate}}</a>
        <h6><i *ngIf="loyalty_applied" class="fa fa-check-circle-o applied"></i>{{'Your Loyalty Amount' | translate}} : <div class="div_inline" *ngIf="settings?.show_currency_after_amount == 0">{{currency}}</div>
            {{(((loyalty_amount*1)*selected_currency?.conversion_rate) - ((applied_admount*1)*selected_currency?.conversion_rate)).toFixed(settings?.price_decimal_length)}}<div class="div_inline" *ngIf="settings?.show_currency_after_amount == 1"> {{currency}}</div>
        </h6>
        <small *ngIf="loyalty_applied" style="padding: 10px 20px; margin-left: 26px;">{{'Amount Applied' | translate}}: <div class="div_inline" *ngIf="settings?.show_currency_after_amount == 0">{{currency}}</div>
            {{((applied_admount*1)*selected_currency?.conversion_rate).toFixed(settings?.price_decimal_length)}}<div class="div_inline" *ngIf="settings?.show_currency_after_amount == 1"> {{currency}}</div></small>

    </div>

</div>