.lang_icon{
    width: 22px;
}

.imgfit { 
    width: 25px; 
    height: 18px; 
    object-fit: cover; 
    margin: 6px !important;
}

.headimgfit { 
    width: 25px; 
    height: auto; 
    object-fit: cover; 
    margin: 6px !important;
}

.alignCountryFlag {
    text-align: justify;
}